@{
    ViewBag.Title = "درباره";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    یک اپلیکیشن تحت وب توصیه گر نقاط علاقه مندی (POI) که بر اساس هستی شناسی توریسم کار می کند و به شرایط زمینه ای حساس است.
</p>
