@{
    ViewBag.Title = "تماس";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>شماره دانشجويي:</strong>   9611274<br />
    <strong>موبايل:</strong> 09124265609<br />
    <strong>ايميل:</strong> f_zeinaly86@yahoo.com<br />
</address>