@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/iransans/IRANSansWeb.eot');
    /*src: url('fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),url('fonts/IRANSansWeb.woff2') format('woff2'),url('fonts/IRANSansWeb.woff') format('woff'),url('fonts/IRANSansWeb.ttf') format('truetype');*/
    src: url('fonts/iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),url('fonts/iransans/IRANSansWeb.ttf') format('truetype');
}

body {
    direction: rtl;
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #d3e7f6;
}

footer {
    direction: ltr;
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #888;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-text {
    color: #fff;
    font-size: 18px;
}

.field-validation-error {
    color: #ff0000;
    font-size: 11px;
}

.text-key {
    color: #0000ff;
}

.text-value {
    font-weight: bold;
}

.form-label {
    line-height: 29px;  
}